// V 0.7

@color2:#4999c9;

// Tipografia

* {-webkit-font-smoothing:antialiased; font-size: 16px;}

h1 {color:@color2; margin-bottom: 2%;}
// p {line-height:1.5;}
h2 { color:silver; margin-bottom: 2%; }

.important {color:@color2; font-weight: bold;}

//--------------------------------------------------Header

header { margin-top:1%; margin-bottom:2%; width: 100%; 
	.clearfix;
	
	.logo { width: 50%;  float:left;}
    
    
}
.menu{  width: 50%; float:right; 
    	
    	a { width: 19% !important;
    		line-height:1.4;
    		float:left;
    		margin-left: 1%;
    		text-align:center; 
    		color:white;
    		font-weight: bold; 
    		background:#2C2C2C; 
			.border-radius(4px); 
			-webkit-transition: all 0.2s ease-in;  /* Safari 3.2+, Chrome */
			-moz-transition: all 0.2s ease-in;  /* Firefox 4-15 */
			-o-transition: all 0.2s ease-in;  /* Opera 10.5–12.00 */
			transition: all 0.2s ease-in;  /* Firefox 16+, Opera 12.50+ */
      	    &:hover, :focus { background:@color2; text-decoration: none;}

		}
		.menu-active {background-color: @color2;}

}		

.slide {float:left; width:100%;

		

		.carousel-control.left {left:0;}
		.carousel-control.right{right:0;}
		.slide-anchor { margin-left: 47%; line-height: 1.5;}
		.slide-anchor a { background: silver; text-indent: -999999px;
						  width:20px;
						  height:20px;

						  border-radius:50%;
						  
						  display: inline-block;
						  &:hover {background:silver;}
		}

}

.slide-activo {background:gray!important;}


.cta { margin-bottom:3%;color:white;float:left; width: 98%; padding-right: 0;

		h2, input, .btn { float:left;  width: 32%; margin-right: 1%;}
		.btn { margin-top: 5px;}
}

//que

.intro {

	float:left;
	margin-top:2%;
	p {padding: 0  10% 0 15% ; }


}

.slideshare { margin: 2% 0; float:left;

		iframe { width: 100%;  
			.slideDisplayer.jsplBgColorCCC { background-color: white !important;}

		}
}


//------------------------------------------Main
.module {width:27%; float:left; margin-left:2%; min-height: 330px; padding:1%; position:relative;}

.features { width: 109%; margin-left: -2%; float:left;

	

	h3 {  text-align:center; margin-top: 3%; padding-bottom: 3%;
		 line-height: 1.2;
		}
	
	.header-feature {margin-bottom: 3%; }
	
	img {max-width: 60%; margin-top: 10%; left: 20%; bottom: 5%; position: absolute;}
	
	p {padding: 3%; }

}

.clients { float:left; width:96%;

		ul { list-style:none;

			li { float:left; 
				 width: 20%; 
				 text-align: center; 
				 
				img { max-width: 60%;
				 		max-height: 5%;
					    margin-top: 8%;
					   .opacity(40);
					}
					
				 img:hover { .opacity(100);}
				
				.logo-vertical { margin-top: 0; }
				
			}
		}
}

//com

article { width: 70%; float: right;}

//----------------------------------------------------Footer

footer { float:left; width: 97%;
	
}

.menu-footer a { 

 		margin-bottom:10px; float:none;  display: block; width: 100%;
		

}
.modulo-footer {width: 49%; float: left;}



//------------------------------------------------------Que fem

.slideshare {  

	width: 100%;

}








