

// V 0.7

@color2:#4999c9;

// Tipografia

* {-webkit-font-smoothing:antialiased;}

h1 {color:@color2; margin-bottom: 2%;}
p {line-height:1.5;}

//--------------------------------------------------Header

header { margin-top:1%; margin-bottom:2%; width: 100%; 
	.clearfix;
	
	.logo { width: 50%;  float: left;}
    
    .menu{  width: 30%; float:right; 
    	
    	a { width: 49% !important;
    		line-height: 20px;
    		float:left;
    		margin-left: 1%;
    		text-align:center; 
    		color:white;
    		font-weight: bold; 
    		background:#2C2C2C; 
			.border-radius(4px); 
			-webkit-transition: all 0.2s ease-in;  /* Safari 3.2+, Chrome */
			-moz-transition: all 0.2s ease-in;  /* Firefox 4-15 */
			-o-transition: all 0.2s ease-in;  /* Opera 10.5–12.00 */
			transition: all 0.2s ease-in;  /* Firefox 16+, Opera 12.50+ */
      	    &:hover, :focus { background:#4a96b4; text-decoration: none;}
		}
    }		
}

.slide {  float:left; width:100%;

		

		.carousel-control.left {left:0;}
		.carousel-control.right{right:0;}
		.slide-anchor { margin-left: 47%; line-height: 1.5;}
		.slide-anchor a { background: gray; text-indent: -999999px;
						  width:20px;
						  height:20px;
						  border-radius:50%;
						  display: inline-block;
						  &:hover {background:silver;}


					  

		}

}

.activo {background:silver!important;}


.cta { margin-bottom:3%;color:white;float:left; width: 99%; padding-right: 0;

		h2, input, .btn { float:left;  width: 32%; margin-right: 1%;}
		.btn { margin-top: 5px;}
}

//que
.intro {

	float:left;
	margin-top: 2%;
	p {font-size: 15px; padding: 0 5%; }


}

.slideshare { margin: 2% 0; float:left;

		iframe { width: 100%;  
			.slideDisplayer.jsplBgColorCCC { background-color: white !important;}

		}
}


//------------------------------------------Main

.features { width: 111%; margin-left: -2%; float:left;

	.module {width:27%;float:left; margin-left: 2%; min-height: 330px; padding:1%; position: relative;}

	h4 {  text-align:center; margin-top: 3%; padding-bottom: 3%;
		font-size: 20px; line-height: 1.2;
		}
	
	.header-feature {margin-bottom: 3%; }
	
	img {max-width: 60%; margin-top: 10%; left: 20%; bottom: 5%; position: absolute;}
	
	p {padding: 3%; }

}

.clients { float:left; width: 97%;

		ul { list-style:none;

			li { float:left; 
				 width: 20%; 
				 text-align: center; 
				 
				img { max-width: 60%;
				 		max-height: 5%;
					    margin-top: 8%;
					   .opacity(40);
					}
					
				 img:hover { .opacity(100);}
				
				.logo-vertical { margin-top: 0; }
				
			}
		}
}

//com

article { width: 70%; float: right;}

//----------------------------------------------------Footer

.footer { float:left; width: 97%;
			
		h3 { text-align: center; background: #333; padding: 1%; border-radius: 5px; color: white;margin-bottom: 20px;}
		
		.contacte-footer {  float:left;
							width: 45%;
							text-align:center; 
				    		color:white;
				    		font-weight: bold; 
				    		background:#2C2C2C; 

				    		.border-radius(4px); 
							-webkit-transition: all 0.2s ease-in;  /* Safari 3.2+, Chrome */
							-moz-transition: all 0.2s ease-in;  /* Firefox 4-15 */
							-o-transition: all 0.2s ease-in;  /* Opera 10.5–12.00 */
							transition: all 0.2s ease-in;  /* Firefox 16+, Opera 12.50+ */
				      	    &:hover, :focus { background:#4a96b4; text-decoration: none;}

      	}
      	 
      	 .puja-footer { float:right;  width: 45%;
      	 				text-align:center; 
			    		color:white;
			    		font-weight: bold; 
			    		background:#2C2C2C; 

			    		.border-radius(4px); 
						-webkit-transition: all 0.2s ease-in;  /* Safari 3.2+, Chrome */
						-moz-transition: all 0.2s ease-in;  /* Firefox 4-15 */
						-o-transition: all 0.2s ease-in;  /* Opera 10.5–12.00 */
						transition: all 0.2s ease-in;  /* Firefox 16+, Opera 12.50+ */
			      	    &:hover, :focus { background:#4a96b4; text-decoration: none;}
		}
}

.menu-footer { 

 		background: #333;  list-style:none; margin-bottom:10px; border-radius:5px;
		color:white; text-align:center; font-weight: bold;

}

//------------------------------------------------------Que fem

.slideshare {  

	width: 100%;

}








