// LARGE DESKTOP & UP
// ------------------
@media (min-width:1200px) and (max-width: 1440px) { 


	.container {width:80%;}
	.features  {

		.module {min-height: 360px;}
	}
	.intro p {font-size: 17px;}
	.slideshare {

       iframe {height: 600px !important;}


    }

}




@media (min-width:1441px)  { 

	
	.container {width:65%;background:yellow;}
	.features {

		.module {min-height: 380px; }
	}
	.intro p {font-size: 17px;}
	.slideshare {

       iframe {height: 600px !important;}


  	}


}


