
// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET  767
// --------------------------------------------------

@media (min-width: 30.1em) and(max-width: 47.9em) {

  body {font-size: 90%;}
  
  .container {width:95%;}

  header{
  
    .logo { width:60%; float:left; margin-bottom:1em;}

    .menu{ width:100%; float:left; margin-bottom:4em; z-index: 1;
      
      a { width:19% !important;}
    }
  }

  .cta { margin-bottom:1em; width:100%;

      h2 { float:left; width:30%; margin-right:2%; margin-left:2%; display:inline; margin-bottom:0;}
      input { width: 30%; float:left; margin-right:2%; margin-top:0;}
      .btn  { width: 30%; float:right; margin-right:1.5%; }

  }
  
  
  .features {display:hidden;float: none; width: 104%;
        .module { min-height:390px; width:45%; float:left; display: block !important;}
        
        img {max-width:75%; margin-top:4%; left:10%; bottom:5%; position:absolute;}
        
        

    }

 section { width: 100%;}


  
 .slideshare {

       iframe {height: 450px !important;} 
  }

  .container-qui { width: 105%;}
  .module-qui  { padding: 2%;

        width: 42%; float: left; margin-left: 2%; min-height: 440px;
        img { max-width: 80%; margin-left: 9%;}
  }
  
  .mobile-no {display:none;}

  footer { 

      .module-footer {width:45%; float:left; margin-top:0; min-height:320px; margin-right:2%; padding: 1%;}

      .address { font-size: 1em;}

      .cta-footer { width: 85%;

        h2 { width: 100%;}
        input {width: 95%;}
        .btn { width: 100%;}

      }

      .menu-footer { font-size: 0.9em;}
      .xarxes { width:94%;}
  }




 
  
  
// TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

 
  .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .hidden-phone      { display: inherit !important; }
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
}


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 30em) {

  * { font-size: 0.95em;}
  p { margin-top: 0;}

  .features .header-feature { padding-bottom:0;}
  .container { width: 95%;}

  header{
  
  .logo { width: 100%; float: left; margin-bottom:1%;}
  
  .menu{ width: 100%;
      a { width:49% !important; margin-bottom: 2%;}
    } 
  
  }

  section {width:100%; margin-left: 0; }

  .carousel-control { 
          top: 10%;
          width: 25px;
          height: 25px; 
          font-size: 2.8125em;
          font-weight: 120;
          line-height: 16px;
  }
  
  .slide{ margin-top: 0;
      .slide-anchor { margin-left: 45%; line-height: 1.5;}
      .slide-anchor a { background: silver; text-indent: -999999px;
                  width:15px;
                  height:15px;
      }
  }
  
  .features { width:100%; margin-left:-2%;

    .module {width:92%; float:left; margin-left: 2%; min-height: 290px; padding:1em; position:relative;}
     img {max-width:50%;  left: 25%; bottom: 5%; position: absolute;}

  }

  .cta { margin-bottom:3%; color:white; padding-bottom:4%; width:100%;

    h2, input, .btn { float:left; width:95%; text-align:center; margin-left: 2.5%; }
    
    .btn {margin-top:5px;}

    h2 { float:left;}
    input { width:92%; margin-top: 0.3em;}

  }
  
  

  .clients {  width: 92%;
            h4 {text-align:center;}

            li { width:100% !important; text-align:center;}
            img { margin-bottom:7%; max-height:10% !important; text-align:center; }

  }

  .slideshare {

       iframe {height: 300px !important;}


  }

  .container-qui { width: 100%;}
  .module-qui  { padding: 2%;

        width: 95%; float: left; margin-left: 2%; min-height: 300px;
        img { max-width: 60%; margin-left: 19%;}
  }

  footer { 

      .module-footer {width:90%; float:left; margin-top:0; min-height:360px; margin-right:2%;}

      .address { min-height:300px; font-size: 1.4em; width: 88%;} 

      .cta-footer { width: 91%; padding: 1%; }

      
  }

  
  
  .hidden-phone { display: none !important; }
 

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // Carousel
  .carousel-caption {
    position: static;
  }

  //Que
  .intro {

  float:left;
  margin-top:2%;
  p {padding: 0 ; }
  }

}



