// LARGE DESKTOP & UP
// ------------------
@media (min-width:75em) and (max-width: 90.0625em) { 


	.container {width:80%;}
	.features  {

		.module {min-height: 380px;}
	}
	.intro p {font-size: 17px;}
	.slideshare {

       iframe {height: 600px !important;}


    }

}


@media (min-width:90.0626em)  { 

	
	.container {width:75%;border:solid 2px red;}
	.features {

		.module {min-height: 380px; }
	}
	.intro p {font-size: 17px;}
	.slideshare {

       iframe {height: 600px !important;}


  	}


}


