// LARGE DESKTOP & UP
// ------------------
// @media (min-width:75em) and (max-width: 90.0625em) { 


// 	.container {width:80%; background: orange;}
	
// 	.features  {

// 		.module {min-height:360px;}
// 	}

// 	//.cta-lema  { font-size: 1.1em ;}

// 	.module-footer {width:28.5%; float:left; margin-top:0; min-height:355px; margin-right:2%;}

	
// 	.slideshare {

//       iframe {height:600px !important;}


//     }

// }

// borrat apartir d'aqui

// @media (min-width:90.0626em)  {  /* 1440 px*/

	
// 	.container {width:75%;}
// 	.features {

// 		.module {min-height: 350px;}
// 	}

// 	.module-footer {min-height:390px;}

// 	.module-qui {min-height:500px;}
	
// 	.slideshare {

//        iframe {height: 600px !important;}


//   	}


// }


