
// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET  767
// --------------------------------------------------

@media (max-width: 47.9375) {

  .container {width: 95%; border:solid 2px blue;}

  header{
  
    .logo { width:70%; float: left; margin-bottom: 2%;}
    .menu{ width: 30%; float: right;
      a { width:49% !important;}
    }
    

  }

  .features {width: 100%;

        .module { min-height:420px; width: 45%;}
        img {max-width: 75%; margin-top: 4%; left: 10%; bottom: 5%; position: absolute;}
        h4 { font-size: 20px; line-height: 1.3;}
        p { font-size: 14px; padding: 4%; line-height: 1.4;}

    }

    .cta {  margin-bottom:3%;color:white; width: 93%;

        h2, input, .btn { float:left; width:32%; text-align:center; }
        
        .btn { margin-top: 5px;}

        h2 { float:left; font-size: 14px; }
        input { width:31%; }

    }
  
  .intro {

  float:left;
  margin-top: 2%;
  p {font-size: 15px; padding: 0; }


}

  
  .slideshare {

       iframe {height: 450px !important;} 
     }
  
  .mobile-no {display:none;}


  // Padding to set content in a bit
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  
// TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container { 
    width: 100%; 
  }
   .module { width:100%; float:left; min-height:320px; padding:1%; position:relative;}
  
  .thumbnails {
    margin-left: 0;
  }
 

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    .input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  .visible-phone     { display: inherit !important; } // Use inherit to restore previous behavior
  // Hide
  .hidden-phone      { display: none !important; }
  // Hide everything else
  .hidden-desktop    { display: inherit !important; }
  .visible-desktop   { display: none !important; }
}


// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 30em) {


  .container { width: 95%; border:solid 2px pink;}

  header{
  
  .logo { width: 100%; float: left; margin-bottom:5%;}
  
  .menu{ width: 100%;
      a { width:49% !important; margin-bottom: 2%;}
    } 
  
  }

  .features { width:100%; margin-left:-2%;

    .module {width:98%; float:left; margin-left: 2%; min-height: 400px; padding:1%; position: relative;}
     img {max-width: 70%;  left: 15%; bottom: 5%; position: absolute;}

  }

  .cta { margin-bottom:3%;color:white; padding-bottom: 4%; width: 95%;

    h2, input, .btn { float:left; width: 95%; text-align: center; }
    
    .btn { margin-top: 5px;}

    h2 { float:left; font-size: 20px; }
    input { width:92%;    }

  }
  
  

  .clients {  width: 90%;
            h4{ text-align: center; font-size: 20px;}

            li { width: 100% !important; text-align: center; margin-left: -5%; }
            img { margin-bottom:7%; max-height:10% !important;}

  }

  .slideshare {

       iframe {height: 300px !important;}


  }

  footer { width: 90%;}
  
  .hidden-phone      { display: none !important; }
 

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // Carousel
  .carousel-caption {
    position: static;
  }

}

//D*

